<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="sensor_diode_ros2_control" params="name can_interface:=can0">

        <ros2_control name="${name}" type="system">

            <hardware>
                <plugin>sensor_diode_ros2_control/SensorDiodeHardwareInterface</plugin>
                <param name="can_interface">${can_interface}</param>
                <param name="can_id">0x110</param>
            </hardware>

            <gpio name="${name}">
                <state_interface name="wavelength_intensity"/>
                <state_interface name="command_success"/>
                <state_interface name="is_connected"/>

                <command_interface name="request_measurement"/>
            </gpio>

        </ros2_control>

    </xacro:macro>

</robot>

